{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "styled-components",
    "transform-react-require",
    "transform-object-rest-spread",
    "transform-class-properties",
    "lodash"
  ]
}
