{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "loose": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "styled-components",
    "transform-react-require",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "lodash"
  ]
}
